.title {
    font-family: 'Comfortaa', cursive;
    color: rgb(142, 155, 155);
    font-weight: bolder;
    font-size: xxx-large;
}

.list, .form {
    font-family: 'Flamenco', cursive;
    font-weight: xx-bold;
    font-size: xx-large;
    vertical-align: bottom;
}